@font-face {
	font-family: 'Gill Sans MT';
	src: url('../fonts/GillSansNormal.eot');
	src: url('../fonts/GillSansNormal.eot?iefix') format('embedded-opentype'),
		url('../fonts/GillSansNormal.woff2') format('woff2'),
		url('../fonts/GillSansNormal.woff') format('woff'),
		url('../fonts/GillSansNormal.ttf') format('truetype'),
		url('../fonts/GillSansNormal.svg')  format('svg');
	font-weight: normal;

}
@font-face {
	font-family: 'Gill Sans MT';
	src: url('../fonts/GillSansBold.eot');
	src: url('../fonts/GillSansBold.eot?iefix') format('embedded-opentype'),
		url('../fonts/GillSansBold.woff2') format('woff2'),
		url('../fonts/GillSansBold.woff') format('woff'),
		url('../fonts/GillSansBold.ttf') format('truetype'),
		url('../fonts/GillSansBold.svg')  format('svg');
	font-weight: bold;

}

body {
	font-size: 20px;
	font-family: 'Gill Sans MT';
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #26272d;
	line-height: 1.15em;
	font-size: 62px;
}

p {
	color: #8c8f94;
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
	color: #26272d;
	text-decoration: none;
	transition: all 0.5s ease-out; 
}
img {
	max-width: 100%;
	object-fit: cover;
}
.btn {
	transition: all 0.5s ease-out;
}
/* Header */
.header {
	background: url('../img/header-bg.jpg') no-repeat center / cover;
	padding-top: 44px;
}

.logo {
	display: block;
	background: url('../img/logo.svg');
	width: 133px;
	height: 15px;
}

.burger {
	background: transparent;
	display: block;
	position: relative;
	margin-right: 30px;
	width: 20px;
	height: 12px;
}
.burger span {
	display: block;
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 5px;

}
.burger:before,
.burger:after {
	content: '';
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
}
.burger:before {
	top: 0;
}
.burger:after {
	bottom: 0;
}
.menu__item:not(:last-child) {
	margin-right: 30px;
}

.menu__link {
	font-size: 16px;
	color: #26272d;
}
.menu__link:hover {
	color: #4f525c;
}
.store-btn {
	border-radius: 21px;
	color: #fff;
	width: 132px;
	margin-left: 34px;
	background-color: #267df4;
	padding: 7px 14px 7px;
	display: flex;
}
.store-btn:hover {
	color: #fff;
	background-color: #1867d4;
}
.store-btn:active {
	color: #fff;
}

.store-btn:before {
	content: '';
	background: url('../img/apple-icon.svg') no-repeat left;
	width: 17px;
	height: 20px;
	display: inline-block;
	margin-right: 15px;
}

.offer {
	margin-bottom: 55px;
	margin-top: 132px;
	text-align: center;
}

.offer__title {
	margin-bottom: 41px;

}

.offer__text {
	max-width: 780px;
	color: #8c8f94;
	margin-bottom: 66px;
}

.offer__btn {
	width: 205px;
	padding: 9px 42px 9px 32px;
	border-radius: 25px;
	border: 1px solid #26272d;
	color: #000;
	display: flex;
	margin: 0 auto;
}

.offer__btn:hover {
	color: #000;
	background-color: #ffffff82;
}

.offer__btn:before {
	content: '';
	background: url('../img/watch-icon.svg') no-repeat left;
	width: 10px;
	display: inline-block;
	margin-right: 15px;
}

.header-image {
	text-align: center;
}

/* Section Time */

.time {
	padding-top: 122px;
}
.real-time__icon {
	margin-bottom: 45px;
}
.real-time__title {
	margin-bottom: 49px;
	font-size: 26px;
}
.real-time__text {
	font-size: 18px;
}
.real-time__text:not(:last-of-type) {
	margin-bottom: 40px;
}

/* Section Protect */

.protect {
	padding: 116px 0 148px;
	overflow: hidden;
}

.protect-offer {
}
.protect-offer__title {
	max-width: 232px;
	margin-bottom: 76px;
	font-size: 42px;

}
.protect-offer__text {}
.protect-offer__text:not(:last-of-type) {
	margin-bottom: 37px;
}
.protect-btn {
	margin-top: 80px;
}

.btn-try {
	width: 202px;
	border-radius: 21px;
	background-color: #267df4;
	color: #fff;
	margin-right: 20px;
	display: flex;
}
.btn-try:hover {
	color: #fff;
	background-color: #1867d4;
}
.btn-try:after {
    content: '';
    background: url(../img/arrow-right.svg) no-repeat right;
    width: 13px;
    height: 12px;
    margin-left: 45px;
    display: inline-block;
}
.btn-more {
	width: 142px;
	border-radius: 21px;
	border: 1px solid #26272d;
	color: #000;
}

.btn-more:hover {
	background-color: #000;
	color: #fff;
}

/* Section Partner */

.partner {
	padding: 23px 0 247px;
	overflow: hidden;
}

.partner-offer__title {
	margin-bottom: 67px;
	max-width: 290px;
	font-size: 42px;
}
.partner-offer__text:not(:last-of-type) {
	margin-bottom: 37px;
}
.partners {
	margin-top: 69px;
}
.partners__title {
	font-size: 13px;
	text-transform: uppercase;
}
.partners-list {
	margin-top: 31px;
	display: flex;
}
.partners-list__item {
	margin-right: 31px;
}


/* Footer */

.footer {
	padding-bottom: 159px;
}

.offer-site {
	font-size: 14px;
	margin-top: 31px;
}
.download-link {
	display: block;
	margin-top: 28px;
}

.logo-site {}
.download {
	width: 140px;
}
.footer-nav {}
.footer-nav__title {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 27px;
}
.footer-nav__list {}
.footer-nav__item {
	font-size: 16px;
}
.footer-nav__item a {
	color: #8c8f94;

}
.footer-nav__item:not(:last-child){
	margin-bottom: 18px;
}

/* Breakpoints */

@media (min-width: 1200px) {
	.protect-img {
		margin-left: -100px;
	}
	.partner-map  {
		margin-left: 100px;
	}
}
@media (max-width: 992px) {
	.real-time {
		margin-bottom: 50px;
	}
	.footer-info {
		margin-bottom: 40px;
	}
	.footer-nav {
		margin-bottom: 40px;
	}
	.protect, .time, .partner {
		padding: 100px 0 0;
	}
	.partner {
		padding-bottom: 50px;
	}
	.project-img {
		margin-bottom: 50px;
	}
	.partner-map {
		margin-top: 50px;
	}

}

@media (max-width: 576px) {
	.phone {
		width: 80%;
	}

	.protect-img,
	.partner-map {
		margin: 50px auto;
	}
	.offer__title {
		font-size: 40px;
	}
	.protect-offer__title {
		font-size: 32px;
	}
	.partner-offer__title {
		font-size: 32px;
	}
	.real-time__title {
		font-size: 22px;
	}
	.footer {
		padding-bottom: 30px;
	}
	.btn-try {
		display: block;
		margin: 0 0 20px;
	}
	.footer {
		text-align: center;
	}
	.logo_footer {
		margin: 0 auto;
	}
}
